.app.login {
    text-align: center;
}
.app.login .body {
    display: flex;
    align-items: center;
}

.app.login .app-logo {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app.workspace .app-logo {
    height: 40px;
    justify-content: flex-start;
}

input[type="text"] {
    background-color: #38EFC1;
    color: #211A30;
    padding: 0.5em;
    border: 0px;
    border-radius: 5px;
}

input[type="submit"] {
    border: 0px;
    padding: 0.5em;
    background-color: #FDA406;
}
input[type="submit"]:disabled {
    background-color: #211A30;
    color: #211A30;
}

.app.workspace #header {
    position: absolute;
    top: 0;
    bottom: calc(100vh - 50px);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
.app.workspace .info {
    justify-content: flex-end;
    color: white;
}
.app.workspace .main {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(250,250,250);
    color: black;
    padding: 1em;
}

.app.workspace .main > .ui {
    border: 0px solid white;
}

.no-border {
    border: 0px !important;
}
.no-padding {
    padding: 0px !important;
}

.ui.card {
    width: 100% !important;
}
.ui.overlay.sidebar {
    background-color: white;
}

.ui.pushable {
    overflow-y: hidden;
}
.ui.pushable .pusher {
    overflow-y: auto;
    height: 100%;
}