
.case-status-view .unassigned {
    color: #c8c8c8;
}
.case-status-view .assigned {
    color: #737373;
}
.case-status-view .passed {
    color: #32cb56;
}
.case-status-view .failed {
    color: #f62f38;
}
.case-status-view .undecided {
    color: #fda406;
}