.ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
}

.ui.sortable.table thead th {
    background: rgb(250, 250, 250);
}
.ui.sortable.table thead th.sorted:hover,
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th:hover {
    background: rgb(240, 240, 240);
}
