
.ui.error.message {
    height: calc(50px - 0.75em);
    width: 50vw;
    padding: calc(50px - 2.8em);
    padding-left: 1em;
}

.ui.overlay.sidebar {
    background-color: #fafafa;
    padding-left: 1em;
    padding-right: 0.5em;
}

.ui.overlay.sidebar.super.wide {
    width: 80vw;
}

.ui.overlay.sidebar .card {
    width: 100% !important;
}
